.app_title{
    padding:10px 0px;
}
.error_msg{
    color: #ffa0a3;
    padding:10px;
}
.login_textbox{
    width:300px;
    margin:10px auto;
}
.login_email{
    
}
.login_email label{
    color:#ddd;
    border:0;
    padding:0;
    font-size:18px;
}

.login_email input{
    width:100%;
    border:0;
    border-bottom:1px solid #ddd;
    background:none;
    font-size:14px;
}