<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class=" bar-dark"
        data-comp-id="header-bar.1">
        <h1 class="title" data-comp-id="text.1">customer journey survey</h1>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1"><br>
        <div class=" positive-bg" data-comp-id="div.1">
            <div class="row positive-border" data-comp-id="row.1">
                <div class="col col-25" data-comp-id="column.1"><br><img data-comp-id="image.1" data-img="" ng-src="images/home\que_img.png"
                    style="width: 100%;"></div>
                <div class="col" data-comp-id="column.2">
                    <div data-comp-id="text.2">Based on your recent testing, what is the likelihood
                        that would you recommend Flex to a friend or colleague?</div><br>
                    <div data-comp-id="text.3">(1 Very unlikely -10 Most likely)</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>