<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class=" bar-dark"
        data-comp-id="header-bar.1">
        <h1 class="title" data-comp-id="text.1">customer journey survey</h1>
    </ion-header-bar>
    <ion-content class="has-header nocolor-bg" data-comp-id="ionic-content.1">
        <div class="row" style="background:cyan">
            <div class="col">
                <div class="row" style="background:white; ">
                    <div class="col">
                        <div class=" nocolor-bg" data-comp-id="div.1" style="">
                            <div class="row calm-bg" data-comp-id="row.1" style="border-radius: 20px;">
                                <div class="col" data-comp-id="column.1">
                                    <div class="text-center light" data-comp-id="text.2">Based on your recent
                                        testing, what is the likelihood that would you recommend Flex to a friend or
                                        colleague?</div><br>
                                    <div class="text-center light" data-comp-id="text.3">(1 Very unlikely -10 Most likely)</div>
                                </div>
                            </div>
                        </div><br>
                        <div class=" nocolor-bg" data-comp-id="div.2"
                            style="margin-left: 40px; margin-right: 40px">
                            <i class="icon fa-icon fa-thumbs-down" data-comp-id="icon.1"></i>
                            <i class="icon fa-icon fa-thumbs-up" style="float:right; "></i>
                        </div><br>
                        <div class=" text-center" data-comp-id="text.4"
                            style="color: rgba(255, 2, 2, 0.9); margin-left: 20px; margin-right: 20px">You
                            indicated that you are not very likely to recommend Flex.Would you please note
                            in the comment section what can we do to improve?</div><br>
                        <label class="item item-input item-stacked-label stable-bg"
                            data-comp-id="textAreaInput.1" style="margin-right:20px;margin-left:20px;">
                            <textarea placeholder="Enter Your Comments" rows="4" style=""></textarea>
                        </label><br>
                        <ion-footer-bar class=" bar-stable" data-comp-id="footer-bar.1"
                            dynamic-fixed-footer="" style="">
                            <div class="row" data-comp-id="row.2">
                                <div class="col" data-comp-id="column.2">
                                    <button class="button button-block button-calm" data-comp-id="button.1">Back</button>
                                </div>
                                <div class="col" data-comp-id="column.3">
                                    <div class=" text-center" data-comp-id="text.5" style="margin: 15px;">1/6</div>
                                </div>
                                <div class="col" data-comp-id="column.4">
                                    <button class="button button-block button-positive" data-comp-id="button.2">Submit</button>
                                </div>
                            </div>
                        </ion-footer-bar>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>