<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class=" bar-dark"
        data-comp-id="header-bar.1">
        <h1 class="title" data-comp-id="text.1">customer journey survey</h1>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1"><br>
        <div class=" positive-bg" data-comp-id="div.1">
            <div class="row positive-border" data-comp-id="row.1">
                <div class="col col-25" data-comp-id="column.1"><br><img data-comp-id="image.1" data-img="" ng-src="images/home\que_img.png"
                    style="width: 100%;"></div>
                <div class="col" data-comp-id="column.2">
                    <div data-comp-id="text.2">Based on your recent testing, what is the likelihood
                        that would you recommend Flex to a friend or colleague?</div><br>
                    <div data-comp-id="text.3">(1 Very unlikely -10 Most likely)</div>
                </div>
            </div>
        </div><br>
        <div data-comp-id="div.2">
            <i class="icon fa-icon fa-thumbs-down" data-comp-id="icon.1"></i>
            <i class="icon fa-icon fa-thumbs-up" data-comp-id="icon.2"></i>
        </div><br>
        <div data-comp-id="text.4" style="color: rgba(255, 2, 2, 0.9);">You indicated
            that you are not very likely to recommend Flex.Would you please note in the
            comment section what can we do to improve?</div>
        <label class="item item-input" data-comp-id="textInput.1">
            <input placeholder="Enter your  Comments" type="text">
        </label>
    </ion-content>
</ion-view>