<meta charset="utf-8">
<meta content="IE=Edge" http-equiv="X-UA-Compatible">
<meta
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    name="viewport">
<title>PCIC SURVEY</title>
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<div class="main_container">
    <div class="login_container">
        <div class="inner_login">
            <div class="page_detail">
                <div class="app_details">
                    <div class="inner_detail">
                        <div class="app_logo">
                            <div class="inner_app_logo">
                                <img src="images/logo3.png">
                            </div>
                        </div>
                        <div class="app_name">
                            <div class="inner_app_name">
                                Customer Journey Survey Portal
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app_credentials">
                    <div class="inner_credentials">
                        <div class="error_msg">
                            Username / Password is Incorrect
                        </div>
                        <div class="email_creden">
                            <span>Email</span>
                            <span><input type="text"></span>
                        </div>
                        <div class="pass_creden">
                            <span>Password</span>
                            <span><input type="text"></span>
                        </div>
                    </div>
                </div>
                <div class="app_logind">
                    <div class="inner_logind">
                        <div class="button">
                            <a href="home.html">Start Survey</a>
                        </div>
                    </div>
                </div>
                <div class="flex_logo">
                    <div class="inner_logo">
                        <img src="images/flex.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>