<ion-view data-comp-id="ionic-view.1">
    <ion-content class=" dark-bg" data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col light text-center" data-comp-id="column.1"><img data-comp-id="image.1" data-img="" ng-src="images/logo3.png"></div>
        </div>
        <div class="text-center app_title light" data-comp-id="text.1"
            style="font-size: 24px; width: 300px; margin: 0px auto; line-height: 24px;">Customer Journey Survey Portal</div>
        <div class=" text-center error_msg" data-comp-id="text.2">Username / Password is Incorrect</div>
        <div class="login_textbox">
            <div class="login_email" data-comp-id="text.3">
                <label class="item item-input dark-bg" data-comp-id="textInput.1" style="">Email
                </label>
                <input class=" light" ng-model="data.username" type="email">
            </div>
        </div>
        <div class="login_textbox">
            <div class="login_email" data-comp-id="text.4">
                <label class="item item-input dark-bg" data-comp-id="textInput.2" style="">Email
                </label>
                <input class=" light" ng-model="data.username" type="email">
            </div>
        </div>
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2"
                style="margin-left:25px; margin-right:25px">
                <button class="button button-block" data-comp-id="button.1"
                    ng-click="app.action('login', 'surveyBtn', this)"
                    style="background-color: rgb(71, 213, 253);">Start Survey</button>
            </div>
        </div>
        <div class="row" data-comp-id="row.3">
            <div class="col text-center" data-comp-id="column.3"><img data-comp-id="image.2" data-img="" ng-src="images/flex.png"></div>
        </div>
    </ion-content>
</ion-view>